<body class='d-flex align-items-center justify-content-center world-background-image-div'>
  <div class="container d-flex flex-column align-content-center justify-content-center m-5">
    <div class="text-center">
      <% if params[:enemy] %>
        <h1>COMBAT ROUND FOR <%= params[:enemy].upcase %>:</h1>
      <% else %>
        <h1>COMBAT ROUND FOR <%= params[:character].upcase %>:</h1>
      <% end %>
    </div>
    <div class="card-container">
      <div class="card p-3 m-3 bg-success bg-opacity-25 d-flex text-white">
        <%= simple_form_for [@campaign, @encounter] do |f| %>
          <%= f.label :skill_type, 'Choose your damage type' %>
          <!--
          <%=   f.collection_radio_buttons :skill_type, [['acid', 'Acid'], ['bludgeoning', 'Bludgeoning'], ['cold', 'Cold'], ['fire', 'Fire']], :first, :last do |b|%>
            <% b.radio_button + b.label(class: "purple-button" ) %>
          <% end %>
          -->

          <%# <%= f.input :skill_type, collection: %w[acid bludgeoning cold fire force lightning necrotic piercing poison psychic radiant slashing thunder], label: 'Select your damage type:', class: "bg-success"  %>

          <!--
          <input id="user_skill_type_acid" name="user[skill_type]" type="radio" value="acid" />
          <label class="collection_radio_buttons" for="user_skill_type_true">Acid</label>

          <input id="user_skill_type_bludgeoning" name="user[skill_type]" type="radio" value="bludgeoning" />
          <label class="collection_radio_buttons" for="user_skill_type_bludgeoning">Bludgeoning</label>

          <input id="user_skill_type_cold" name="user[skill_type]" type="radio" value="cold" />
          <label class="collection_radio_buttons" for="user_skill_type_cold">Cold</label>

          <input id="user_skill_type_fire" name="user[skill_type]" type="radio" value="fire" />
          <label class="collection_radio_buttons" for="user_skill_type_fire">Fire</label>

          <input id="user_skill_type_force" name="user[skill_type]" type="radio" value="force" />
          <label class="collection_radio_buttons" for="user_skill_type_force">Force</label>

          <input id="user_skill_type_lightning" name="user[skill_type]" type="radio" value="lightning" />
          <label class="collection_radio_buttons" for="user_skill_type_lightning">Lightning</label>
          -->


          <%= f.input :target, collection: @encounter.players.map{ |player| player.character_name } + @encounter.enemies.map{ |enemy| enemy.name }, label: 'Select your target:' %>
          <%= f.label :success, 'Was the attack successful?' %>
          <%= f.input :success, label: false %>
          <%= f.label :criticality, 'Was the attack a killing blow?' %>
          <%# <%= f.collection_radio_buttons :criticality, [[true, 'Yes'], [false, 'No']], :first, :last%>
          <%# <%= f.input :criticality, label: false %>
          <input id="user_criticality_true" name="user[criticality]" type="radio" value="true" />
          <label class="collection_radio_buttons" for="user_criticality_true">Yes</label>
          <input id="user_criticality_false" name="user[criticality]" type="radio" value="false" />
          <label class="collection_radio_buttons" for="user_criticality_false">No</label>
          <% f.hidden_field :summary, :value => "hello" %>
          <%= f.button :submit, 'Generate combat results', class: 'btn purple-button' %>
        <% end %>
      </div>
    </div>
  </div>
</body>
<%# damage type, target, success, criticality %>
<!--
<div class="icon">MENU
  <ul class="menu">

    <li class="spread">
          <a class="unit" href="#">1</a>
    </li>

        <li class="spread">
          <a class="unit" href="#">2</a>
    </li>

        <li class="spread">
          <a class="unit" href="#">3</a>
    </li>

        <li class="spread">
          <a class="unit" href="#">4</a>
    </li>

        <li class="spread">
          <a class="unit" href="#">5</a>
    </li>

        <li class="spread">
          <a class="unit" href="#">6</a>
    </li>

        <li class="spread">
          <a class="unit" href="#">7</a>
    </li>

        <li class="spread">
          <a class="unit" href="#">8</a>
    </li>

    <li class="spread">
          <a class="unit" href="#">9</a>
    </li>

        <li class="spread">
          <a class="unit" href="#">10</a>
    </li>

        <li class="spread">
          <a class="unit" href="#">11</a>
    </li>

        <li class="spread">
          <a class="unit" href="#">12</a>
    </li>

        <li class="spread">
          <a class="unit" href="#">13</a>
    </li>
  </ul>
</div>

@import "compass/css3";

           $li: 13; /* [1] */
    $icon-size: 150px; /* [2] */
    $menu-size: 300px / 2; /* [3] */
    $unit-size: 45px;  /* [4] */
$menu-position: (($menu-size * 2) - $icon-size) / -2;
       $offset: 150px; /* [5] */
          $deg: 360deg / $li; /* [6] */

/* Styles: */
.icon {
  position: relative;
	background: white;
	cursor: pointer;
	margin: auto;
	color: deepskyblue;
	border-radius: 50%;
  height: $icon-size;
	width: $icon-size;
	line-height: $icon-size;
  text-align: center;
 	font-size: 2.75em;
 	font-weight: bold;
 	transition: 0.24s 0.2s;
}

.icon:hover {
	background: rgba(white,0.75);
}

.menu {
  position: absolute;
  top: $menu-position;
  left: $menu-position;
  border: $menu-size solid transparent;
  cursor: default;
  border-radius: 50%;
  transform: scale(0);
	transition: transform 1.4s 0.07s;
	z-index: -5;
}

.spread {
	position: absolute;
	top: -($offset);
	left: -($offset);
	transform-origin: $offset $offset;
	transition: all 0.5s 0.1s;
}

.icon:hover {
	 .menu {
		 transition: transform 0.4s 0.08s,
				  				        z-index   0s  0.5s;
  	 transform: scale(1);
  	 z-index: 5;
	 }
	 .spread, .unit {
	 	 transition: all 0.6s;
	 }

/* Where all the MAGIC happens: */
	 @for $m from 1 through $li {
	   .spread:nth-child(#{$m}) {
		    transition-delay: $m * 0.02s;
		    transform: rotate(30 + $deg * $m);
		    .unit {
			     transition-delay: $m * 0.04s;
			     transform: rotate(-$deg * $m + 720 - 30);
		    }
	   }
  }
} /* END .icon:hover */

.unit {
 	position: absolute;
 	background: white;
 	font-size: 60%;
  text-decoration: none;
 	width: $unit-size;
 	height: $unit-size;
 	line-height: $unit-size;
 	color: dodgerblue;
 	border-radius: 50%;
 	transition: 0.6s;
}




/* Just CodePen layout stuff: */ body,a,ul,li{margin:0;outline:0;padding:0;list-style:none}html,body{height:100%;min-height:$menu-size*2}body{font-family:sans-serif;background:radial-gradient(deepskyblue,dodgerblue);transform:translate3d(0,0,0)}.icon{top:50%;margin-top:$icon-size/-2}
-->
