<body class='world-background-image-div'>
  <div class="container d-flex flex-column mt-5 p-5">
    <h1 class="text-center">PREPARE FOR COMBAT</h1>
    <h4 class='text-center text-muted pt-2 pb-3'>Step 1 of 3</h4>
    <h4 class='text-center text-white pb-2'>Add adversaries for this specific encounter in the below.</h4>
      <hr class="border border-top border-success border-2 w-100 mb-5">

    <div class="card-container p-3 m-3 bg-dark bg-success bg-opacity-25" >
      <div class="card p-3 nav-world-card d-flex">
        <h2>Enter Enemy combatants:</h2>
        <%= simple_form_for [@campaign, @encounter], html: { data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }} do |f| %>
          <template data-nested-form-target="template">
            <%= f.fields_for :enemies, Enemy.new, child_index: 'NEW_RECORD' do |enemy_fields| %>
              <%= render "encounter_form", f: enemy_fields %>
            <% end %>
          </template>
          <div data-nested-form-target="target">
            <button type="button", class="btn btn-success mt-3 " data-action="nested-form#add">+</button>
          </div>
          <div class="encounter-new-buttons-div">
            <%= f.button :submit, "Begin combat!", class: "btn purple-button"%>
            <%= link_to 'Exit Combat', campaigns_path, class: "purple-button"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>
