<% content_for :meta_title, "#{@encounter.players.last.campaign.world_name
} is on #{DEFAULT_META["meta_product_name"]}" %>
<%#=Meta Information Above"%>
<body class='world-background-image-div'>
  <div class="container d-flex flex-column mt-5 pt-5">
    <div>
      <% if @encounter.summary.present? %>
        <h1 class="text-center">
          SELECT NEXT COMBATANT
        </h1>
      <% else %>
        <h1 class="text-center">
          SELECT COMBATANT
        </h1>
      <% end %>
      <h4 class='text-center text-muted pt-2 pb-3'>Step 2 of 3</h4>
      <h4 class='text-center text-white pb-2'>After rolling for initiative, click the player or enemy who will attack.</h4>
      <hr>
      <div>
        <% if @encounter.summary.present? %>
          <h3 class="text-center mb-3">Narrative</h3>
          <h5 class ='text-white p-2'><%= @summary %></h5>
          <hr>
        <% else %>
          <h4 class="text-center">After completing step 3, Radiant will display the generated narrative here.</h4>
        <% end %>
      </div>

      <ul data-controller="sortable" data-sortable-animation-value="150" class="container d-flex align-items-center justify-content-center flex-wrap gap-2">
        <% @encounter.players.each do |player| %>
          <li class="combantant-card">
            <div class="card-product">
              <%= link_to edit_campaign_encounter_path(campaign_id: @campaign.id, character: player.character_name), class: 'text-decoration-none text-white' do %>
                <span><%= image_tag "warrior-portrait.jpg", class: "img", style: "border-radius: 16px 0  0 16px;" %></span>
                <div class="card-product-infos">
                  <span><%= player.character_name %></span>
              <% end %>
                </div>
            </div>
          </li>
        <% end %>
        <% @encounter.enemies.each do |enemy| %>
          <li class="combantant-card">
            <div class="card-product">
              <%= link_to edit_campaign_encounter_path(campaign_id: @campaign.id, enemy: enemy.name), class: 'text-decoration-none text-white' do %>
                <span><%= image_tag "goblin.png", class: "img bg-black bg-opacity-75", style: "border-radius: 16px 0  0 16px; height: 118px;" %></span>
                <div class="card-product-infos">
                  <span><%= enemy.name %></span>
              <% end %>
                </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</body>
