<% content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @offer.description %>
<% content_for :meta_image, cl_image_path(@offer.photo.path) %>
<%#=Meta Information Above"%>
<body class="encounter-show-background d-flex flex-column align-items-center bg-opacity-25">
  <div class="container d-flex flex-column">
    <div>
      <h2 class="text-center">
        Choose the combatant:
      </h2>
      <div class="d-flex flex-column gap-2">
        <% i = 1 %>
        <% @encounter.players.each do |player| %>
          <div class="card p-3 bg-success bg-opacity-75 shadow">
            <%= link_to edit_campaign_encounter_path(campaign_id: @campaign.id, character: player.character_name), class: 'text-decoration-none text-white' do %>
              <%#= image_tag "hero#{i}.jpg"%>
              <% i+=1 %>
              <span><%= player.character_name %></span>
            <% end %>
          </div>
        <% end %>
        <% @encounter.enemies.each do |enemy| %>
          <div class="card p-3 bg-success bg-opacity-75 shadow">
            <%= link_to edit_campaign_encounter_path(campaign_id: @campaign.id, enemy: enemy.name), class: 'text-decoration-none text-white' do %>
              <%#= image_tag "goblin.png"%>
              <span><%= enemy.name %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="nav-world-card card p-3">
      <% if @encounter.summary.present? %>
        <h2 class="text-center">Combat Summary</h3>
        <%= @summary %>
      <% else %>
        <h2 class="text-center">Select combatant to generate combat narrative</h2>
      <% end %>
    </div>
  </div>
</body>
