<div class="encounter-show-background">
  <h1>Roll for initiative! Whose turn is it?</h1>
  <div class="encounter-player-div">
    <% @encounter.players.each do |player| %>
      <%= link_to edit_campaign_encounter_path(campaign_id: @campaign.id, character: player.character_name), class: 'text-decoration-none link-dark' do %>
      <%= image_tag "hero1.jpg"%>
      <span><%= player.character_name %></span>
    <% end %>
    <% end %></div>
  <div class="narrative-div">
    <div class="nav-world-card" style="padding: 15px">
      <% if @encounter.summary.present? %>
        <h3 style="text-align: center">Combat summary</h3>
        <%# <%= @summary %>
      <% else %>
        <h2>Select combatant to generate combat narrative</h2>
      <% end %>
    </div>
  </div>
  <div class="encounter-player-div">
    <% @encounter.enemies.each do |enemy| %>
      <%= link_to edit_campaign_encounter_path(campaign_id: @campaign.id, enemy: enemy.name), class: 'text-decoration-none link-dark' do %>
        <div class="card p-3 m-3 "><%= enemy.name %>
        </div>
      <% end %>
    <% end %></div>
</div>
