<div class="container">
  <section >
    <h1>GPT Test</h1>
    <ul>
    </ul>
    <div>
      <div class="input-container" data-controller="input-gpt">
        <%= form_for :gpt, url: "pages_controller/gpt" do |f| %>
          <%= f.label "Type something" %>
          <%= f.text_field :ask,
                           class: "form-control",
                           data: {
                            action: "submit->input-gpt#update",
                            input_gpt_target: "input"
                           }
                           %>
          <%= f.button :submit, class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
    <%= form_tag '/gpt_test' do %>
      <%= text_field_tag(:super_url) %>
      <%= submit_tag("name")%>
    <% end %>
  </section>
  <% if current_user %>
    Welcome user number <%= current_user.id %>!
  <% end %>
  <h1 class='mb-3'>The newest member of your party. An AI assistant that joins you on your journey.</h1>
  <div class="card mb-3 p-3">Radiant is an AI powered assistant for game masters that provides procedurally generated, contextualized narrative prompts that helps keeps your narratives relevant and rich. </div>
  <div class="card p-3">Ready to get started?</div>
  <%= link_to 'Sign Up', new_user_registration_path  %>
  <%= link_to 'Log in', new_user_session_path  %>
  <%= link_to 'Campaigns', campaigns_path  %>
</div>
