<div class="homepage_background_container">
  <h1>Radiant</h1>
  <div class="homepage_middle_div row">
    <div class="homepage_left_div ">
      <h2>The newest member of your party. An AI assistant that joins you on your journey.</h2>
      <p class="homepage-text-card", style="margin-top: 4vh; width: auto;">Radiant is an AI powered assistant for game masters that provides procedurally generated, contextualized narrative prompts that helps keeps your narratives relevant and rich. </p>
      <div class="homepage_button_div">
        <% if current_user %>
          <p class="btn homepage-purple-button" style=" width:auto; height:80%">Welcome  <%= current_user.username %></p>
          <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "homepage-purple-button" , style: "width: auto; height: 80%"%>

        <% else%>
          <%= link_to 'Sign Up', new_user_registration_path,class: "btn homepage-purple-button", style: "width: 30%" %>
          <%= link_to 'Log in', new_user_session_path, class: "btn homepage-purple-button", style: "width: auto"%>
        <% end %>
      </div>
    </div>
    <div class="homepage_right_div">
      <h2 style="margin-bottom: 20px">Start your campaign</h2>
      <%= link_to 'Campaigns', campaigns_path, class: "btn homepage-purple-button", style: "width: auto"%>
    </div>
  </div>
</div>
<%# <%= form_tag '/gpt_test' do %>
  <%# <%= text_field_tag(:super_url) %>
  <%# <%= submit_tag("name")%>
  <%# <% end %>
