  <body class="homepage_background_container">
  <div class="container d-flex flex-column mt-5 pt-5 justify-content-center align-items-center flex-wrap ">
    <div>
      <h1 class="mb-4 mt-6 text-center">RADIANT</h1>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-md-6 d-flex flex-column justify-content-center mt-5">
        <h2 class="text-center"> Meet the newest member of your party: an AI assistant that joins you on your journey.</h2>

        <hr class="my-4" style="border-top: 4px solid #932688; opacity: 1;">

        <h2 class="text-center">Radiant provides procedurally generated, contextualized narrative that helps keep your story-telling relevant and rich.</h2>
        <div class="homepage_right_div">
          <%= link_to 'Begin', campaigns_path, class: "btn purple-button mt-3 mb-3", style: "width: auto"%>
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column align-items-center">
        <%= image_tag "home-gem.png", class: "img-fluid bg-black bg-opacity-75", style: "max-width: 50%;" %>
      </div>
    </div>
  </div>
</body>
<%# <%= form_tag '/gpt_test' do %>
  <%# <%= text_field_tag(:super_url) %>
  <%# <%= submit_tag("name")%>
  <%# <% end %>


  <%# col-md-6 d-flex flex-column align-items-center %>
  <%# bg-black bg-opacity-75 max-width: 50%;%>
