<div class="nested-form-wrapper container d-flex flex-wrap m-1" data-new-record="<%= f.object.new_record? %>">
  <%= f.label :player_name, class: "m-1" %>
  <%= f.text_field :player_name, class: "bg-black border border-success text-white m-1" %>
  <%= f.label :character_name, class: "m-1" %>
  <%= f.text_field :character_name, class: "bg-black border border-success text-white m-1"%>
  <button class="btn btn-success m-3" type="button" data-action="nested-form#remove">Delete player</button>
  <%= f.hidden_field :_destroy %>
</div>
