<div class="all-campaigns-h1-container">
  <div class="all-campaigns-h1">
    <h1>ALL CAMPAIGNS</h1>
  </div>
</div>
<div class="campaign-card-container">
  <% @campaigns.each do |campaign| %>
    <div class="campaign-card">
      <div>
        <%=campaign.world_name %>
      </div>
      <div>
        <%=image_tag"blue.jpg"%>
      </div>
      <div>
        <%= link_to 'Select', campaign_path(campaign) %>
      </div>
      <div>
        <%=link_to "Delete", campaign_path(campaign), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </div>
    </div>
  <% end %>
</div>
<div class="world-index-buttons-container">
  <div class="world-index-buttons">
    <%= link_to 'Create a new campaign', new_campaign_path, class: 'world-button'  %>
    <%= link_to 'Back', root_path, class: 'world-button'   %>
  </div>
</div>
