<h1>All campaigns</h1>
<% @campaigns.each do |campaign| %>
  <div class="card w-20 p-3 m-3"> <%=campaign.world_name %> <%= link_to 'Select', campaign_path(campaign)  %> <%=link_to "Delete",
  campaign_path(campaign),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
  </div>
<% end %>
<div class="world-index-buttons-container">
  <div class="world-index-buttons">
    <%= link_to 'Create a new campaign', new_campaign_path, class: 'world-button'  %>
    <%= link_to 'Back', root_path, class: 'world-button'   %>
  </div>
</div>
