<div class="all-campaign-index-container">
  <div class="all-campaigns-h1-container">
    <div class="all-campaigns-h1">
      <h1>ALL CAMPAIGNS</h1>
    </div>
  </div>
  <div class="campaign-card-container">
    <% @campaigns.each do |campaign| %>
      <div class="campaign-card">
        <div class="card-world-name">
          <%=campaign.world_name %>
        </div>
        <%= link_to campaign_path(campaign), class: "text-decoration-none" do %>
          <div>
            <%=image_tag("#{campaign.world_biome}.jpg")%>
          </div>
        <% end %>
        <div class="card-button-style">
          <%=link_to "Delete", campaign_path(campaign), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none text-white"%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="world-index-buttons-container">
    <div class="world-index-buttons">
      <%= link_to 'Create a new campaign', new_campaign_path, class: 'btn world-button'  %>
      <%= link_to 'Back', root_path, class: 'btn world-button'   %>
    </div>
  </div>
</div>
