<div class="world-background-image-div">
  <%= @user.email %>
  <div class="world-card-container">
    <div class="world-card">
      <!-- Upper div with circular icon and text -->
      <div class="world-card-header">
        <img alt="portrait" class="world-card-icon" src="/assets/rogue-portrait-d89f16e3cae0f777a6d82fd0373a701d75f1b61f7a833f9bc88981690d206432.jpg">
        <h3 class="header-text">AI CREATED WORLD</h3>
      </div>
      <!-- Middle div with image -->
      <div class="world-card-image img">
        <img alt="Image" src="/assets/city.jpg">
      </div>
      <!-- Lower div with four elements containing small text -->
      <div class="world-card-footer">
        <p class="world-footer-text">Campaign Name: Dances With Goblins</p>
        <p class="world-footer-text">Biome: Mountains</p>
        <p class="world-footer-text">Weather: Snowy</p>
        <p class="world-footer-text">Mood: penitent</p>
      </div>
    </div>
    <div class="world-card">
      <!-- Upper div with circular icon and text -->
      <div class="world-card-header">
        <img alt="portrait" class="world-card-icon" src="/assets/rogue-portrait-d89f16e3cae0f777a6d82fd0373a701d75f1b61f7a833f9bc88981690d206432.jpg">
        <h3 class="header-text">AI CREATED WORLD</h3>
      </div>
      <!-- Middle div with image -->
      <div class="world-card-image img">
        <img alt="Image" src="/assets/tundra.jpg">
      </div>
      <!-- Lower div with four elements containing small text -->
      <div class="world-card-footer">
        <p class="world-footer-text">Campaign Name: The Matrix Easter Day</p>
        <p class="world-footer-text">Biome: Jungle</p>
        <p class="world-footer-text">Weather: sunny with a chance of meatballs</p>
        <p class="world-footer-text">Mood: obtuse</p>
      </div>
    </div>
    <div class="world-card">
      <!-- Upper div with circular icon and text -->
      <div class="world-card-header">
        <img alt="portrait" class="world-card-icon" src="/assets/rogue-portrait-d89f16e3cae0f777a6d82fd0373a701d75f1b61f7a833f9bc88981690d206432.jpg">
        <h3 class="header-text">AI CREATED WORLD</h3>
      </div>
      <!-- Middle div with image -->
      <div class="world-card-image img">
        <img alt="Image" src="/assets/forest-429f80b2531da201852234cedfb883333fb8c02363bde9d073f5b40119a8635f.jpg">
      </div>
      <!-- Lower div with four elements containing small text -->
      <div class="world-card-footer">
        <p class="world-footer-text">Campaign Name: Rat Man, Far From Home</p>
        <p class="world-footer-text">Biome: Sewer</p>
        <p class="world-footer-text">Weather: Dark & Gloomy</p>
        <p class="world-footer-text">Mood: pensive</p>
      </div>
    </div>
  </div>
  <div class="world-form-container">
    <%= simple_form_for [@campaign], html: { class: "simple-form-length"}, html: { data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }} do |f| %>
      <%= f.input :world_name%>
      <%= f.input :world_biome, :collection => %i[forest desert jungle plains cavern tundra city] %>
      <%= f.input :world_weather, :collection => %i[clear cloudy rainy snowy windy stormy] %>
      <%= f.input :world_mood, :collection => %i[comedic romantic dark epic medieval high] %>
      <template data-nested-form-target="template">
        <%= f.fields_for :players, Player.new, child_index: 'NEW_RECORD' do |player_fields| %>
          <%= render "player_form", f: player_fields %>
        <% end %>
      </template>
      <div data-nested-form-target="target"></div>
      <button type="button" data-action="nested-form#add">Add character</button>
      <div class="d-grid gap-2 col-3 pb-3 mx-auto">
        <%= f.button :submit, "Create world", class: "btn btn-primary"%>
        <input class="btn btn-success" type="reset" value="Reset form">
      </div>
    <% end %>
  </div>
</div>
