<body class="nav-world-background">
  <div class="nav-world-container">
    <div class="smaller-card">
      <div class="nav-world-card-header">
        <h3 class="header-text"><%= @campaign.world_name.capitalize %></h3>
      </div>
      <div class="nav-world-card-image">
        <%= image_tag "#{@campaign.world_biome}.jpg"%>
      </div>
      <div class="nav-world-card-footer">
        <ul class="nav-world-footer-left no-bullets">
          <li><span style="font-weight:bold">Biome:</span> <%= @campaign.world_biome.capitalize  %></li>
          <li><span style="font-weight:bold">Mood:</span> <%= @campaign.world_mood.capitalize  %></li>
          <li><span style="font-weight:bold">Weather:</span> <%= @campaign.world_weather.capitalize  %></li>
        </ul>
        <div class="nav-world-footer-right">
          <p style="font-weight:bold; margin-bottom:2px; text-decoration: underline;">  Players  </p>
          <div class="nav-world-player-list">
            <% @campaign.players.each do |player| %>
              <div>
                <%= player.character_name %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-world-right-div">
      <div class="nav-world-text-card">
        <h3 class="header-text" style="margin-bottom: 10px;">World Description</h3>
        <p class="header-text"><%= @service %></p>
      </div>
      <%= link_to new_campaign_encounter_path(@campaign), class: 'text-decoration-none link-dark' do %>
        <div class="btn purple-button" style="margin-top: 15%">
          Enter Campaign
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>
